.text{
    position: absolute;
    /* width: 28vw; */
    height: 10vh;
    margin-left: 1rem;
    top: 10rem;
    font-family: 'Karla';
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #242323;
    padding: 1rem;
    margin-right: 2rem;

}
.button-conect{
    position: absolute;
    width: 52vw;
     height: 5vh; 
    left: 5rem;
    top: 21rem;
}
.text-title{
    color:#242323;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
}