.icon-info{
    position: absolute;
    width: 64vw;
    height: 23vh;
    left: 4.3em;
    top: 6.5em;
    background: #FFC745;
    border-radius: 30px;
}
.img-icon-home{
    position: relative;
    width: 38vw;
    height: 21vh;
    margin-left: 2.8rem;
    margin-top: 0.3rem;
    padding: 0.5rem;
}
.txt-info{
    margin-top: 25.5em;
    position: absolute;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 1.3em;
    line-height: 1.1em;
    letter-spacing: -0.408px;
    padding: 0.5em;
    color: #FBC1FE;

}
.info-content{
    position: absolute;
    margin-top: 30em;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 1.3em;
    line-height: 1em;
    text-align: center;
    letter-spacing: -0.408px;
    color: #CEFFCD;
    padding: 0.8rem;
}

.container{
    align-items: center;
    display: flex;
    justify-content: center;
}

.icon-seg{
    position: absolute;
    width: 64vw;
    height: 22vh;
    left: 4.3em;
    top: 28em;
    background: #6FEBFF;
    border-radius: 30px;
}

.txt-seg{
    margin-top: 58em;
    position: absolute;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 1.3em;
    line-height: 1.1em;
    
    padding: 0.8em;
    letter-spacing: -0.408px;
    
    color: #FBC1FE;

}
.seg-content{
    position: absolute;
    margin-top: 62.5em;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 1.3em;
    line-height: 1em;
    padding: 0.8em;
    text-align: center;
    letter-spacing: -0.408px;
    color: #CEFFCD;
}
/*margin-left: 5.5em;
    text-align: center
    margin-left: 7.5rem;;
    text-align: center;*/