.text-title{
    color:#242323;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.card-1{
    position: absolute;
    width: 23em;
    height: 8.5em;
    /* left: 20px; */
    /* top: 90px; */
    background: #FBC1FE;
    border-radius: 1em;
    display: table-cell;
    vertical-align: middle;
}
.card-2{
    position: absolute;
    width: 23em;
    height: 8.5em;
    /* left: 20px; */
    top: 14.5em;
    background: #FFC9BD;
    border-radius: 1em;
}
.card-3{
    position: absolute;
    width: 23em;
    height: 8.8em;
    left: 20px;
    top: 23.8em;
    background: #FFC745;
    border-radius: 1em;
}
.card-4{
    position: absolute;
    width: 23em;
    height: 8.5em;
    /* left: 20px; */
    top: 33.4em;
    background: #FFF9C7;
    border-radius: 1em;
}
.card-5{
    position: absolute;
    width: 23em;
    height: 8.5em;
    /* left: 20px; */
    top: 42.7em;
    background: #CEFFCD;
    border-radius: 1em;
}
.img-icon{
    float: left;
    margin: 10px;
    /* width: fit-content; */
    height: 5em;
    /* max-width: 5em; */
    max-height: 5em;
    /* margin-left: 10px; */
    margin-top: 1.1em;
}


.text-content{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 135%;
    color: rgba(0, 0, 0, 0.82);
    text-align: justify;
    margin: 0.8em
}