.button-red{
    position: absolute;
    width: 125px;
    height: 41px;
    left: 119px;
    top: 120px;
}
.text-title-red{
    color:#242323;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.color-text-p{
    color:#242323;
    font-family: 'Lato';
    
}