.text-title{
    color:#242323;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.img-denuncia{
    width: 23vw;
    position: absolute;
    height: 25vh;
    left: 2em;
    top: 1em;

}
.img-curva{
    position: absolute;
    left: 11em;
    top: 5.3em;
    width: 28vw;
    height: 18vh;
}
.img-denuncia-txt{
    font-size: 1.1em;
    top: 6em;
    left: 6em;
    position: absolute;
    font-weight: bold;
}
.img-asistencia-txt{
    font-size: 1.1em;
    top: 13.5em;
    left: 3.5em;
    position: absolute;
    font-weight: bold;
}
.img-ambulancia{
    width: 41vw;
    position: absolute;
    height: 41vh;
    left: 6.2em;
    top: 3.2em;

}
.img-curva1{
    position: absolute;
    left: 3.8em;
    top: 16.2em;
    width: 29vw;
    height: 18vh;
}
.img-admision-txt{
    font-size: 1.1em;
    top: 22em;
    left: 2.5em;
    position: absolute;
    font-weight: bold;
}
.img-recep-denuncia{
    top: 23.3em;
    left: 14em;
    position: absolute;
    width: 13vw;
}
.img-curva2{
    position: absolute;
    top: 25.6em;
    left: 7em;
    width: 28vw;
    height: 19vh;
}
.img-proteccion{
    position: absolute;
    top: 33em;
    width: 14vw;
    left: 3.5em;
}
.img-proteccion-txt{
    font-size: 1.1em;
    top: 31.3em;
    left: 6.5em;
    position: absolute;
    font-weight: bold;
}

.vector-position{
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0;
}
.img-mapa{
    position: absolute;
    display: flex;
    right: 1.3em;
    bottom: 1.7em;
}
.img-vector{
    position: absolute;
    width: 99vw;
    height: 17vh;
    bottom: 0;
}
div.img{
    margin-top: 1em;
}