.text-title{
    color:#242323;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.img-denuncia{
    width: 27vw;
    position: absolute;
    height: 25vh;
    left: 2em;
    top: 1em;

}
.img-curva{
    position: absolute;
    left: 12.8em;
    top: 5.6em;
    width: 32vw;
    height: 21vh;
}
.img-denuncia-txt{
    font-size: 1.3em;
    top: 5.8em;
    left: 6em;
    position: absolute;
}
.img-asistencia-txt{
    font-size: 1.3em;
    top: 12.5em;
    left: 3.5em;
    position: absolute;
}
.img-ambulancia{
    width: 41vw;
    position: absolute;
    height: 41vh;
    left: 6.7em;
    top: 3.5em;

}
.img-curva1{
    position: absolute;
    left: 3.8em;
    top: 17em;
    width: 34vw;
    height: 25vh;
}
.img-admision-txt{
    font-size: 1.3em;
    top: 22.4em;
    left: 3.5em;
    position: absolute;
}
.img-recep-denuncia{
    top: 28em;
    left: 16em;
    position: absolute;
}
.img-curva2{
    position: absolute;
    top: 30em;
    left: 8em;                                  
    width: 37vw;
    height: 25vh;
}
.img-proteccion{
    position: absolute;
    top: 40.5em;
}
.img-proteccion-txt{
    font-size: 1.3em;
    top: 32.4em;
    left: 4.5em;
    position: absolute;
}

.vector-position{
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0;
}
.img-mapa{
    position: absolute;
    display: flex;
    right: 1.3em;
    bottom: 1.7em;
}
.img-vector{
    position: absolute;
    width: 99vw;
    height: 17vh;
    bottom: 0;
}