
  .text-title-seg{
    color:#242323;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

  ion-text{
    font-size:0.8em
  }
.container{
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.button-option{
    margin-right: 1.5em;
    width: 44vw;
    height: 3.7vh;
    font-size: small;
}
.button-option-medica{
    margin-right: 0.5em;
    width: 44vw;
    height: 3.7vh;
    font-size: small;
}
.button-valoracion{
    margin-right: 0.5em;
    width: 44vw;
    height: 3.7vh;
    font-size: small;
}
.button-mProteccion{
    width: 76vw;
    height: 3.7vh;
    font-size: small;
}

.vector-position{
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0;
}
.img-mapa{
    position: absolute;
    display: flex;
    right: 1.3em;
    bottom: 1.7em;
}
.img-vector{
    position: absolute;
    width: 99vw;
    height: 17vh;
    bottom: 0;
}