.container{
    align-items: center;
    display: flex;
    justify-content: center;
}

.text-seg{
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 8rem;
    text-align: center;
}
.img-seg{
    margin-top: 1em;
    width: 80vw;
    height: 40vh;
    
}
.button-process{
    width: 17em;
    height: 3em;
    margin-top: 2em;
}
.vector-img{
   
    width: 99vw;
    height: 17vh;
}
.vector{

    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0;
}
