ion-label {
    color:  #B047CF;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-style: normal;
  }

  ion-content {
    --background:  var(--ion-background-color, #F2F2F2);
    
  }

  .container{
    align-items: center;
    display: flex;
    justify-content: center;
}

  .yanapaway {
    font-size: 3.5em;
    position: absolute;
    margin-top: 5.5em;
    
  }
  .img-center{
    position: absolute;
    width: 60vw;
    height: 40vh;
    left: 5.5em;
    top: 15em;
  }
  .usa-tu-voz{
    font-size: 2em;
    position: relative;
    width: 10em;
    height: 10em;
    top: 20em;
  }